<!--
  ~ 18-842 Distributed Systems Team 6
  ~ Chenxi Wang (chenxi.wang@sv.cmu.edu)
  ~ Ishika Batra (ibatra@andrew.cmu.edu)
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>[%-5level] %d{"MMM dd HH:mm:ss:SSS Z"} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>